.form-container {
    margin-top: 50px;
  }
  .form-title {
    text-align: center;
    margin-bottom: 20px;
  }
  table {
    width: 100%;
  }
  th, td {
    text-align: center;
    vertical-align: middle;
  }

  input[readonly] {
    background-color: #e9ecef !important; /* Light gray to match BS styling */
    cursor: not-allowed;
    box-shadow: none;
  }
  input[readonly]:focus {
    box-shadow: none;
    border: none;
  }